@model ReAl.Template.Lumino.Models.SegConfiguracion

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>SegConfiguracion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idscf" />
            <div class="form-group">
                <label asp-for="Idsta" class="control-label"></label>
                <select asp-for="Idsta" class="form-control" asp-items="ViewBag.Idsta"></select>
                <span asp-validation-for="Idsta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Configuracion" class="control-label"></label>
                <input asp-for="Configuracion" class="form-control" />
                <span asp-validation-for="Configuracion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Funcion" class="control-label"></label>
                <input asp-for="Funcion" class="form-control" />
                <span asp-validation-for="Funcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parametrosentrada" class="control-label"></label>
                <input asp-for="Parametrosentrada" class="form-control" />
                <span asp-validation-for="Parametrosentrada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parametrossalida" class="control-label"></label>
                <input asp-for="Parametrossalida" class="form-control" />
                <span asp-validation-for="Parametrossalida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apiestado" class="control-label"></label>
                <input asp-for="Apiestado" class="form-control" />
                <span asp-validation-for="Apiestado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apitransaccion" class="control-label"></label>
                <input asp-for="Apitransaccion" class="form-control" />
                <span asp-validation-for="Apitransaccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usucre" class="control-label"></label>
                <input asp-for="Usucre" class="form-control" />
                <span asp-validation-for="Usucre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Feccre" class="control-label"></label>
                <input asp-for="Feccre" class="form-control" />
                <span asp-validation-for="Feccre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usumod" class="control-label"></label>
                <input asp-for="Usumod" class="form-control" />
                <span asp-validation-for="Usumod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecmod" class="control-label"></label>
                <input asp-for="Fecmod" class="form-control" />
                <span asp-validation-for="Fecmod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

